

@import url('https://fonts.googleapis.com/css?family=Finger+Paint');

#startbutton{
  height: 90px;
  width: 10px;
  border-radius: 100%;
  margin-top: 26%;
  margin-left: 46%;
  padding-left: 15px;
  padding-right: 100px;
  font-size: 30px;
  background-color: #dddddd;
  border-color: rgb(237, 213, 216);
  border-style: solid;
  margin-right: 50%;
  font-family: 'Finger Paint', cursive;
  transition: all .3s ease-in-out;
}
#startbutton:hover{
  background-color: #dddddd;
  border-radius: 10%;
}
#button{
  height: 20px;
}
#nextButton{
  margin-top: 300px;
  margin-left: 150px;
}
#nextButton2{
  margin-top: 300px;
  margin-left: 350px;
}
body{
background: url('Images/NEWHOME.png') no-repeat;
overflow: hidden;
background-size: cover;
}

p{
  color: white;
  font-size: 40px;
  text-align: center;
  padding-bottom: 20px;
font-family: 'Finger Paint', cursive;
}

#nav{
  z-index: 1;
  height: 60px;
  width: 25%;
  font-family: 'Finger Paint', cursive;
}

#no{
  display: none;
}
